.headText{
    color: #ff0000;
    font-size: 1cm;
    text-align: right;
}
.akapit1{
    color: #00ffff;
    text-align: center;

}
.akapit2{
    color: #00ffff;
    text-align: right;
}
p#akapit1_czerczon{
   font-family: serif;
    color: #ffc0cb;
    text-decoration: overline;
    font-style: italic;
    text-indent: 2cm;
    line-height: 1cm;
    word-spacing: 12px;
    letter-spacing: 5ex;
}
p#akapit2_czerczon{
    font-family: sans-serif;
    color: #eaddca;
    text-decoration: line-through;
    font-style: oblique;
    text-indent: 25mm;
    line-height: 15mm;
    word-spacing: 10pt;
    letter-spacing: 0.5cm;

}

#1_czerczon{
    font-weight: 200;
    font-size: x-small;
}
#z2_czerczon{
 font-weight: 700;
    font-size: medium;
    text-transform: uppercase;
}
#z3_czerczon{
   font-weight: 900;
    font-size: large;
}


#z4_czerczon{
    font-weight: 300;
    font-size: xx-small;
}
#z5_czerczon{
     font-weight: 600;
    font-size: small;
    text-transform: capitalize;
}
#z6_czerczon{
    font-weight: 800;
    font-size: large;
}
