body {
    background-color: silver;
}

p {
    font-size: 7mm;
    color: yellow;
}

p:lang(pl) {
    font-size: 8mm;
    color: yellow;
}

p:lang(en) {
    font-size: 12mm;
    color: silver;
}
/*Daniel Czerczon*/
