
html, body
{
background-color:yellow;
}
p
{
position: absolute; left: 80px; top: 150px;
font-size: 80pt;
font-weight: bold;
color: black;
}
p.cien_czer
{
position: absolute; left: 70px; top: 130px;
font-size: 80pt;
font-weight: bold;
color: silver;
}
p.szkola 
{
position: absolute; left: 80px; top: 60px;
font-size: 60pt;
font-weight: bold;
color: black;
}
  p.cien2_czer
{
position: absolute; left: 90px; top: 260px;
font-size: 80pt;
font-weight: bold;
color: silver;
}
div
{
position: absolute; left: 80px; top: 360px;
font-size: 80pt;
font-weight: bold;
color: black
  }
