html, body
{
kolor tła:żółty;
}
p
{
pozycjonowanie: bezwzgledne(absolute); lewo 80px; góra: 150px;
wielkość czcionki 80pt;
litery pogrubione;
kolor: czarny;
}
p.cien_cztery_litery_nazwiska_ucznia
{
pozycjonowanie: bezwzgledne(absolute); lewo 88px; góra: 80px;
wielkość czcionki 80pt;
litery pogrubione;
kolor: srebrny;
}
p.szkola p.cien_cztery_litery_nazwiska_ucznia
{
pozycjonowanie: bezwzgledne(absolute); lewo 80px; góra: 60px;
wielkość czcionki 60pt;
litery pogrubione;
kolor: czarny;
  p.cien2_cztery_litery_nazwiska_ucznia
{
position: absolute; left: 90px; top: 260px;
font-size: 80pt;
font-weight: bold;
color: silver;
}
div
{
position: absolute; left: 80px; top: 360px;
font-size: 80pt;
font-weight: bold;
color: black
  }
