div.red-text
{
width: 2cm;
color: ff0000;
}
li.none
{
font-size: 18pt;
text-decoration: none;
}
A:link
{
color: blue;
}
A:visited
{
color: green;
}
li.underline
{
color: red;
text-decoration: underline;
}
